<!-- templates/userapp/reset_password.html -->
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'userapp/css/reset_password.css' %}">
</head>
</head>
<body>
    <div class="forgot-password">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <label for="password">New Password:</label>
        <input type="password" name="password" required>
        {% if success_message %}
        <div class="alert alert-success">
            {{ success_message }}<br>
            <a href="{% url 'login_view' %}">Click here to login</a>
        </div>
        {% endif %}
        <button type="submit">Reset Password</button>
    </form>
    </div>
</body>
</html>