.view_applicant {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #cca300; /* Darker yellow border */
}

thead {
    background-color: #fac031; /* Yellow background */
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f2f2f2;
}


.alert {
    padding: 8px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #28a745;
    color: #fff;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049; /* Darker green */
}