/* userapp/css/login.css */

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%; /* Change width to 100% for better responsiveness */
    max-width: 400px; /* Added max-width for larger screens */
}

h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #fac031;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f8b400;
}

a {
    color: #fac031;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.signup-link,
.professional-login-link {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}

.signup-link a,
.professional-login-link a {
    color: #fac031;
    text-decoration: underline;
}

form .form-check {
    display: flex;
    align-items: center;
}

form .form-check input {
    margin-right: 10px;
}

/* Additional styling for the label */
form .form-check label {
    margin-bottom: 0;
}

/* Media Queries for responsiveness */

/* Tablets and larger devices */
@media only screen and (min-width: 768px) {
    .login {
        max-width: 500px;
    }
}
