/* userapp/css/signup.css */

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signup {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 500px; /* Added max-width for larger screens */
}

h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #fac031;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #f8b400;
}

.professional-signup-link {
    color: #343a40;
    text-align: center;
    margin-top: 20px;
}

.professional-signup-link a {
    color: #fac031;
    text-decoration: underline;
}

/* Media Queries for responsiveness */

/* Tablets and larger devices */
@media only screen and (min-width: 768px) {
    .signup {
        max-width: 600px;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .signup {
        max-width: 800px;
    }
}
